In [0]:
import numpy as np
import pandas as pd
from skimage.io import imread, imshow

from pathlib import Path

In [1]:
# Only if on Google Colab

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# Define where your images are

root = Path('gdrive/My Drive/meteorite_mineral_mapper')
image_path = root / 'dataset_1_opaques'

In [0]:
standard_minerals = [i for i in list(image_path.glob('*_mask.tif')) if 'obj' not in i.name]
standards = [{'name': s.name.split('_')[2].split('.')[0], 'image': imread(s)} for s in image_path.glob('standards_32*.tif')]

In [81]:
dfs = []
for s in standard_materials:
  print(s.name)
  mask = imread(s)
  pixels = []
  for element in standards:
    #image = imread(s2)
    pixels.append(element['image'][mask > 0])
    
  df = pd.DataFrame(np.dstack(pixels)[0], columns=[i['name'] for i in standards])
  df['mineral'] = s.stem.split('_')[0]
  dfs.append(df)

df = pd.concat(dfs).reset_index(drop=True)
df

CaTiO3std15_mask.tif
Fe-num2std9_mask.tif
FeSstd2_mask.tif
Fe3O4std15_mask.tif
Nistd9_mask.tif
NiSstd2_mask.tif
rutile_6std6_mask.tif
SCOlvstd6_mask.tif

        Mg  Ni  Al  Fe   Ca  Cr  P  S   Ti   Si      mineral
0        0   0   0   0  171   0  4  0  459    0  CaTiO3std15
1        0   0   0   0  148   3  2  0  462    1  CaTiO3std15
2        0   2   0   0  141   6  3  0  455    2  CaTiO3std15
3        1   2   2   0  122   6  3  0  502    0  CaTiO3std15
4        0   0   0   0  138   5  5  0  457    1  CaTiO3std15
5        0   0   2   0  145   6  5  0  506    0  CaTiO3std15
6        0   0   0   0  134   5  7  0  469    0  CaTiO3std15
7        0   0   0   0  139   5  4  0  464    1  CaTiO3std15
8        0   0   0   3  145   3  2  0  488    0  CaTiO3std15
9        0   4   0   0  157   6  5  0  426    0  CaTiO3std15
10       0   0   0   0  144   8  2  0  475    0  CaTiO3std15
11       1   0   0   0  131   5  7  0  472    1  CaTiO3std15
12       0   0   0   0  135   2  7  0  437    0  CaTiO3std15
13       1   2   0   0  129   5  5  0  462    0  CaTiO3std15
14       0   0   2   0  132   2  4  0  483    0  CaTiO3std15
15       0   0   0   0  119   4  3  0  463    0  CaTiO3std15
16       1   0   0   2  129   3  3  0  434    0  CaTiO3std15
17       0   2   2   0  141   5  3  0  465    2  CaTiO3std15
18       0   0   0   2  163   5  3  0  465    0  CaTiO3std15
19       0   0   2   0  133   9  2  0  427    1  CaTiO3std15
20       0   0   2   2  149   4  6  0  468    0  CaTiO3std15
21       0   0   0   2  147   6  3  0  421    2  CaTiO3std15
22       1   0   0   0  137   3  0  0  487    0  CaTiO3std15
23       0   3   0   0  129   2  2  0  449    1  CaTiO3std15
24       0   0   2   0  139   5  0  0  430    2  CaTiO3std15
25       1   0   0   0  132   0  0  0  485    0  CaTiO3std15
26       0   0   0   0  127   4  3  0  475    0  CaTiO3std15
27       0   0   3   0  140   2  4  0  430    0  CaTiO3std15
28       0   0   0   0  105   4  0  0  483    2  CaTiO3std15
29       1   2   0   0  127   7  4  0  472    0  CaTiO3std15
...    ...  ..  ..  ..  ...  .. .. ..  ...  ...          ...
29179  237   0   0  20    2   2  0  0    0  200    SCOlvstd6
29180  252   2   0  30    0   0  0  0    0  201    SCOlvstd6
29181  236   2   0  24    0   0  3  0    2  216    SCOlvstd6
29182  265   3   0  28    0   3  0  0    3  174    SCOlvstd6
29183  240   3   0  22    0   0  0  0    4  209    SCOlvstd6
29184  241   0   2  25    0   3  0  0    3  186    SCOlvstd6
29185  258   0   0  15    0   5  0  0    0  188    SCOlvstd6
29186  253   0   0  21    0   7  0  0    0  209    SCOlvstd6
29187  236   0   0  14    2   3  0  0    2  171    SCOlvstd6
29188  254   2   0  23    3   0  0  0    5  213    SCOlvstd6
29189  263   3   0  22    0   0  0  0    0  195    SCOlvstd6
29190  249   0   0  21    0   2  0  0    6  195    SCOlvstd6
29191  243   2   0  22    0   0  0  0    3  194    SCOlvstd6
29192  215   0   0  20    0   2  0  0    0  204    SCOlvstd6
29193  224   0   0  25    2   2  0  0    2  193    SCOlvstd6
29194  254   3   0  23    0   2  0  0    2  211    SCOlvstd6
29195  226   0   0  29    0   0  0  0    0  211    SCOlvstd6
29196  244   3   0  22    0   4  0  0    0  205    SCOlvstd6
29197  255   0   0  15    0   2  3  0    2  204    SCOlvstd6
29198  253   0   0  21    2   0  0  0    0  190    SCOlvstd6
29199  262   2   0  26    0   3  3  0    0  189    SCOlvstd6
29200  252   0   0  20    0   0  0  0    5  182    SCOlvstd6
29201  249   2   0  33    0   2  0  0    3  209    SCOlvstd6
29202  216   2   0  29    0   6  2  0    3  183    SCOlvstd6
29203  235   0   0  19    0   3  0  0    0  181    SCOlvstd6
29204  258   2   0  15    2   0  0  0    2  171    SCOlvstd6
29205  246   0   2  20    2   4  0  0    2  205    SCOlvstd6
29206  240   0   0  17    0   3  3  0    2  195    SCOlvstd6
29207  253   2   2  18    0   3  0  0    0  207    SCOlvstd6
29208  230   3   0  21    2   3  0  0    4  198    SCOlvstd6

[29209 rows x 11 columns]

In [0]:
df.to_csv('gdrive/My Drive/mineral_standards.csv', index=False)